[Unit]
Description=Sets postgres to readonly mode when disk gets too full

[Service]
Type=simple
ExecStart=/opt/pgscripts/diskchk.sh
Restart=Always
StartLimitInterval=0
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
